<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static "bootstrap-css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "css/mystyle.css" %}">
    </head>
    <body>
        <nav class= "navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url "index"%}">
                <strong>Pen</strong>
                <small>.com</small></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url "index"%}">Home <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url "admin:index"%}">Admin</a>
                    </li>


                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "logout"%}">Logout</a>
                        </li>

                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "basic_app:register"%}">Registration</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url "basic_app:login"%}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <div class="container">
            {% block content_body %}

            {% endblock %}
        </div>
    </body>
</html>
