{% extends "basic_app/base.html" %}

{% block content_body %}

    <div class="col-sm-12 col-md-12 col-lg-12 hidden-xs footer-brand-desktop)">
        {% if product %}
            {% for pro in product %}
                <div class="product_list">
                    {{ pro.pro_name }}
                </div>

            {% endfor %}
        {% else %}
            <h1>No Product Found!</h1>
        {% endif %}
    </div>
{% endblock %}
