{% extends "basic_app/base.html" %}

{% block content_body %}
    <div class="jumbotron">
        <h1>Login Here!</h1>
        <form class="" action="{% url "basic_app:login" %}" method="POST">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" name="username" value="" placeholder="Enter your username">
            <label for="password">Password:</label>
            <input type="password" name="password" value="">

            <input type="submit" name="" value="Login">
        </form>
    </div>
{% endblock %}
