{% extends "basic_app/base.html" %}

{% block content_body %}
    <div class="jumbotron">
        {% if register %}
            <h1>Thank you for regostration.</h1>
        {% else %}
            <form class="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ user_form.as_p }}
                {{ user_profile.as_p }}
                <input type="submit" name="" class="btn btn-primary" value="Sign Up">
            </form>
        {% endif %}
    </div>
{% endblock %}
